body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
  overflow: hidden;
  background-image: url('Earth.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-image 1s ease-in-out;
}

.content {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
  width: 60%;
}

.title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.text {
  font-size: 1.2em;
  line-height: 1.5;
}

.text a {
  background-color: #861388 ;
  padding: 1rem;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  transition: 0.2s ease;
}


.text a:hover {
  background-color: #590e5b;
  scale: 1.1;
}
