body {
  background-image: url("./Rendu/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100vw;
  min-height: 5000px;
  overflow-x: hidden;
}


.cloud {
  position: absolute;
  top: 0;
  left: -600px;
  width: 25%;
  height: 50%;
  background-image: url("./Rendu/cloud.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.titre{
  font-size: 120px;
  font-family: garet, sans-serif;
  color: white;
  height: 100dvh;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  justify-content: center;
  margin-bottom: 20rem ;

  h1 {
    margin: 0;
  }

  h2 {
    font-weight: normal;
    margin: 0;
    z-index: 2;
  }

  .visible {
    color: white;
    mix-blend-mode: difference;
  }
}





.cloudSeparator {
  display: flex;
  position: relative;
  align-items: center;


  #cloud1 {
    width: 100%;
    height: 800px;
    background-image: url("./Rendu/cloudSeparator1.webp");
    background-size: 70%;
    background-repeat: no-repeat;
    position: absolute;
    left: -5%;
  }

  #cloud2 {
    width: 100%;
    height: 500px;
    background-image: url("./Rendu/cloudSeparator1.webp");
    background-size: contain;
    background-repeat: no-repeat;
    right: -5%;
    transform: scaleX(-1);
    position: absolute;
  }
}

.element {
  margin-top: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 120px;
  color: white;
  font-family: garet, sans-serif;
  flex-direction: column;
  align-items: center;

  h1 {
    margin:0 ;
  }

  .box {
    width: 50%;
    font-size: 30px;
    background-color: rgba(14, 14, 79, 0.7);
    border-radius: 15px;
    padding: 1rem;
    backdrop-filter: blur(30px);
  }
}

.manteau {
  margin-top: 300px;
  align-items: baseline;

  .box {
    height: 25vh;
    width: 20rem;
    font-size: 22px;
    align-items: center;
    display: flex;
    text-align: justify;
  }

  h1 {
    font-size: 75px;
  }

  .manteau_Ext {
    width: 100%;
    position: relative;

    .sides {
      width: 50%;
      position: absolute;
      font-size: 30px;
      background-color: rgba(14, 14, 79, 0.7);
      padding: 1rem;
    }

    .right {
      right: -8px;
      border-radius: 15px 0 0 15px;
    }

    .left{
      left: -8px;
      top: 800px;
      border-radius: 0 15px 15px 0;
    }
  }
}

/* Media Queries */

@media screen and ( max-width: 768px) {
  body {
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100vw;
    overflow-x: hidden;
  }
  .title {
    font-size: 40px;
    width: 100%;
    height: fit-content;
  }

  .cloud {
    top: -10;
    left: -200px;
    background-size: contain;
  }

  .element {
    font-size: 60px;
  }

  .element .box {
    width: 80%;
    font-size: 20px;
  }

  .manteau h1 {
    font-size: 50px;
  }

  .manteau .box {
    width: 100%;
    font-size: 18px;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-size: contain;
  }

  .titre {
    font-size: 20px;
    height: fit-content;
    margin-top: 5rem;
  }

  .cloud {
    top: 50px;
    left: -100px;
    background-size: contain;
  }

  .cloudSeparator {
    display: none;
  }

  .element {
    font-size: 20px;
    width: 40%;
    text-align: center;

    .box {
      width: 100%;
      font-size: 8px;
      text-align: justify;
    }
  }

  .croute {
    margin: 30px auto;
  }

  .manteau_Ext {
    width: 100%;
    align-items: start;
    .manteau {
      margin: 30px auto;

      h1 {
        font-size: 20px;
      }

      .box {
        font-size: 8px;
      }
    }
  }
}
